    ../../../.bash_history
        ../../../.bash_logout
        ../../../.bashrc
        ../../../.cache/
        ../../../.config/
        ../../../.deepin-screen-recorder/
        ../../../.docker/
        ../../../.dotnet/
        ../../../.gitconfig
        ../../../.gnome/
        ../../../.gnupg/
        ../../../.icons/
        ../../../.idea/
        ../../../.java/
        ../../../.lesshst
        ../../../.local/
        ../../../.mysql/
        ../../../.mysql_history
        ../../../.npm/
        ../../../.nvidia-settings-rc
        ../../../.odbc.ini
        ../../../.openshot_qt/
        ../../../.pam_environment
        ../../../.password-store/
        ../../../.pgadmin/
        ../../../.pki/
        ../../../.profile
        ../../../.python_history
        ../../../.sonarlint/
        ../../../.steampath
        ../../../.steampid
        ../../../.sudo_as_admin_successful
        ../../../.themes/
        ../../../.thunderbird/
        ../../../.var/
        ../../../.vscode/
        ../../../.wget-hsts
        ../../../.wine/
        ../../C++/
        ../../CV of sunil bist (1).pdf
        ../
        ../../College/
        ../../Jmeter/
        ../../SQL handwritten notes .pdf
        ../../StudyHub/Automation_Python/
        ../../StudyHub/LinuxCourse/
        ../../StudyHub/Python_100_Days/
        ../../StudyHub/SQL/
        ../../../Documents/
        ../../../Downloads/
        ../../../Learning
        ../../../Learning Linux.txt
        ../../../Linux.txt
        ../../../Llinux.txt
        ../../../Pictures/
        ../../../PlayOnLinux's virtual drives
        ../../../PycharmProjects/
        ../../../Screenshots/
        ../../../WebDev/
        ../../../jmeter.log
        ../../../packages.microsoft.gpg
        ../../../pg
        ../../../pt/
        ../../../snap/

